body {
    margin: 0;
    text-align: center;
}
main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
}
main div {
    font-size: 2em;
    color: black;
    background: grey;
    display: flex;
}

.header {
grid-area: 1 / 1 / 2 / 9;
    background-color: gold;
}
.nav {
grid-area: 2 / 1 / 9 / 2;
    background-color: gold;
}

.article {
grid-area: 2 / 2 / 8 / 8;
    background-color: gold;
}
.footer {
grid-area: 9 / 9 / 8 / 2;
    background-color: gold;
}
.ads {
grid-area: 2 / 8 / 8 / 9;
    background-color: gold;
}
