body {
    margin: 0;
    text-align: center;
}
main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
}
main div {
    font-size: 2em;
    color: black;
    background: grey;
    display: flex;
}

.header {
    grid-area: 1 / 1 / 2 / 9;
    background-color: yellowgreen;
}
.nav {
    grid-area: 2 / 3 / 8 / 1;
    background-color: yellowgreen;
}

.article {
    grid-area: 2 / 3 / 7 / 9;
    background-color: yellowgreen;
}
.footer {
    grid-area: 8 / 1 / 8 / 9;
    background-color: yellowgreen;
}
.ads {
    grid-area: 7 / 3 / 8 / 9;
    background-color: yellowgreen;
}
