body {
    margin: 0;
    text-align: center;
}
main {
    margin-top: 2em;
    display: inline-grid;
    width: 1000px;
    height: 1000px;
    grid-gap: 1em;
    /*grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);*/
    grid-template-columns: 1fr repeat(3, 15%) 1fr;
}
main div {
    font-size: 2em;
    color: black;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area:
    background-color: gold;
}
.nav {
    grid-area:
    background-color: gold;
}

.article {
    grid-area:
    background-color: gold;
}
.footer {
    grid-area:
    background-color: gold;
}
.ads {
    grid-area:
    background-color: gold;
}
